<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ConfiG PUBLIC "-//NET/ATOMIQUE/KSAR/CONFIG.DTD" "Config.dtd" >
<!--
    Document   : Config.xml
    Created on : 10 août 2010, 16:31
    Author     : Max
    Description:
        Configure color of graphs

-->

<ConfiG>
    <colors>
        <itemcolor name="r+w/s">
            <type>counter</type>
        </itemcolor>
        <itemcolor name="%busy">
            <type>gauge</type>
        </itemcolor>
        <itemcolor name="avwait">
            <type>gauge</type>
        </itemcolor>
        <itemcolor name="avserv">
            <type>gauge</type>
        </itemcolor>
        <itemcolor name="avque">
            <type>gauge</type>
        </itemcolor>
    </colors>
</ConfiG>
